<div class="container">
    <div class="row">

        <div id="" class="col-xs-4 col-xs-offset-4">
            <form role="form">
                <div class="form-group">
                    <label for="Profile">Edit Profile Description: </label>
                    <input class="form-control" id="" type="text">
                </div>
                <div class="form-group">
                    <label for="UserName">Change User Name: </label>
                    <input class="form-control" id="" type="text">
                </div>
                <div class="form-group">
                    <label for="Password">Change Password: </label>
                    <input class="form-control" id="" type="password">
                </div>
                <div class="form-group">
                    <label for="Password">Change Profile Picture: </label>
                    <button class="btn btn-primary" id="changePicture">Select Picure...</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
<script src="https://static.filestackapi.com/v3/filestack.js"></script>
<script type="text/javascript">
  
</script>
<script src="/assets/js/accountsetting.js"></script>