<div class="container">
    <div class="row">
        <div class="col-xs-12" id="searchResults">
            <p>movie searcher goes here</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>users movies goes here</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>relevant users will go here</p>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
<script src="/assets/js/moviesearch.js"></script>