<div class="container">
    <div class="row">
        <div class="col-xs-12" id="searchResults">
            <div class="input-group">
                <input id="searchBar" type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button id="searchBtn" class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
            <h3>Search Results: </h3>
            <div id="movieSearchBox"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10">
            <h3>Your Movies: </h3>
            <div id="userMovieBox"></div>
        </div>
        <div class="input-group">
            <label for="distance">Distance: </label>
            <input id="distance" type="number" class="form-control" placeholder="50" min="1" max="100">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>Your Matches:</h3>
            <div id="nearbyUsersBox">
                
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
<script src="/assets/js/moviesearch.js"></script>